.ui.middle.aligned.center.aligned.grid{style: "height:100%;"}
  .column{style: "max-width:450px;"}
    = form_for(resource, as: resource_name, url: sign_in_path, html: {class: "ui large form"}) do |f|
      .field
        = f.text_field :login, required: false, autofocus: true, placeholder: "账号"
      .field
        = f.password_field :password, required: false, placeholder: "密码"
      .field
        = f.submit "登录", class: "ui fluid large teal button"
