*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/coverage/
/spec/tmp/*
**.orig
.project

public/assets/

*~
\#*
.\#*
.DS_*
._*

# Ignore application configuration
/config/application.yml
.floo
.flooignore
script/
