development:
  # 七牛相关的配置
  qiniu_bucket: xxx
  qiniu_domain: http://xxx.xxx.xxx.xxx.clouddn.com
  qiniu_base_path: kc
  qiniu_app_access_key: xxx
  qiniu_app_secret_key: xxx
  qiniu_callback_host:  http://xxx.xxx.xxx
  build_all_questions: true
