.new-weixin-site{
  padding: 0.5rem;
  .organization-tree{
    $size: 30px;
    line-height: $size;
    min-height: 100px;
    padding: 0.5rem;

    .organization{
      .line{
        height: $size;

        .taggle-icon{
          float: left;
          i{
            width: $size;
            height: $size;
            line-height: $size;
            text-align: center;
            margin-right: 0;
          }
        }

        .checkbox{
          float: left;
          width:  $size;
          height: $size;
          .inner{
            font-size: $size - 10px;
            font-family: Icons;
            font-style: normal;
            font-weight: 400;
            text-align: center;
          }

          &.checked{
            .inner{
              &:before{
                content: "\f046";
                color: #999;
              }
            }
          }
          &.unchecked{
            .inner{
              &:before{
                content: "\f096";
                color: #999;
              }
            }
          }
          &.partchecked{
            .inner{
              &:before{
                content: "\f146";
                color: #999;
              }
            }
          }
        }

        .name{
          float:left;
          height: $size;
          line-height: $size;
        }
      }


      .children{
        padding: 0 0 0 $size;
      }

      &.close{
        > .line > .taggle-icon .angle.down.icon{
          display: none;
        }

        .children{
          display: none;
        }
      }

      &.open{
        > .line > .taggle-icon .angle.right.icon{
          display: none;
        }
      }

    }
  }
}
