.search-box{
  padding: 1rem;
  .search-bar{
    .search-input{
      border: 1px solid rgba(34, 36, 38, 0.15);
      input{
        border: none;
        outline:0px;
      }
      .search.icon{
        float: right;
        line-height: 2rem;
      }

      &:hover{
        cursor:text;
      }
    }
  }
  .recommend-words-list{
    margin: 1rem 0;
    &:after{
      display: block;
      clear: both;
      content: "";
      visibility: hidden;
    }
    .word{
      display: block;
      float: left;
      cursor:pointer;
      padding: 0.5rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
      background: #e8e8e8;
    }
  }
  .results-list{
    margin: 1rem 0;
    .result-item{
      margin-bottom: 1rem;
      padding: 1rem;
      background: #e8e8e8;
      box-shadow: 1px 1px 1px #e8e8e8;
    }
  }

  .create-question-box{
    textarea{
      margin: 1rem 0 0 0;
      padding: 0.5rem;
      height: 6rem;
      width: 100%;
    }
  }
}
