.specialist-answer-question{
  background: #FAF8F7;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .head{
    background: #FFF;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    line-height: 50px;
    border-bottom: 1px solid #dedede;
  }

  .creator{
    min-height: 50px;
    padding: 1rem 0;
  }
  .content{
    min-height: 50px;
    padding: 1rem 0;
  }

  .keywords{
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
    min-height: 50px;

    a.label {
      $h: 24px;
      $fz: 12px;

      font-weight: normal;
      border-radius: 0;
      margin-right: 6px;
      font-size: $fz;
      background-color: #fff;
      color: #444;
      height: $h;
      line-height: $h;
      box-sizing: content-box;
      padding: 0 $fz * 0.9;
      // border: solid 1px #ddd;
      box-shadow: 0 0 2px rgba(black, 0.3);
      border-right: solid 3px #F36501;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #F36501;
        border-radius: 6px 0 0 6px;
        top: ($h - 6px) / 2;
        right: -3px;
      }
    }
  }

  .answer{
    padding: 1rem 0;
    .bar{
      width: 100%;
      height: 3rem;
      background: linear-gradient(to bottom,#f5f5f5,#efefef);
      border: 1px solid #ccc;
      line-height: 3rem;

      .icon{
        color: #666;
        font-size: 1.6rem;
        margin: 0 0.5rem;
      }
    }
    textarea{
      border-top: 0px;
      outline: none;
      padding: 0.5rem;
      width: 100%;
      min-height: 100px;
    }
  }



}
