@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate-slide-down {
  animation: slide-down .6s ease-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate-slide-up {
  animation: slide-up .6s ease-out;
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-open {
  animation: open .6s ease-out;
}

/////////////////////////

.sample-index-page {
  .header-image {
    min-height: 400px;
    background-color: #ececec;
    margin-bottom: 1rem;
  }

  .features {
    overflow: hidden;
    .feature {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: #ececec;
      float: left;
      margin-right: 3rem;
    }
  }
}

///////////////////////

.outline-page {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  overflow:hidden;
}

$osw: 180px;
$descw: 360px;
.outline-sidebar {
  background-color: #252C36;
  color: white;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:$osw;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);

  .item a.link {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0 0 0 0.5rem;
    &:hover {
      background-color: rgba(white, 0.1);
    }
    .icon {
      width: 2rem;
      margin-right: 0;
      float: left;
    }
  }

  .item a.slink {
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgba(white, 0.7);
    padding: 0 0 0 2.5rem;
    font-size: 13px;
    &:hover {
      background-color: rgba(white, 0.1);
      color: white;
    }
  }

  a.link, a.slink {
    transition: background-color ease .3s, color ease .3s;

    &.active {
      border-right: solid 5px #FFD600;
      background-color: rgba(white, 0.1);
      position: relative;
      &:after {
        content: "";
        position: absolute;
        border:solid 6px transparent;
        border-right:solid 6px #FFD600;
        top:14px;right:0;
      }
    }
  }
}

.outline-content {
  position: absolute;
  left: $osw;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  max-width: 1400px;

  .left-part {
    position: absolute;
    top:0;left:40px;bottom:0;right:$descw;
    left:10px;
    // background-color: blue;

    .slide-area {
      position: absolute;
      top:0;left:0;right:0;bottom:20%;
      // background-color: rgba(red, 0.05);

      .slide-outer {
        padding-bottom: percentage(9/16);
        position: absolute;
        left:40px;right:40px;top:50%;
        // background-color: rgba(red, 0.05);

        .slide {
          position: absolute;
          top:-50%;left:0;right:0;height:100%;
          // border: solid 1px #ddd;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
          background-color: #FFF;

          .slide-inner {
            position: absolute;
            top:5px;left:5px;right:5px;bottom:5px;
          }

          a.maximize {
            $w: 32px;
            position: absolute;
            top:5px;right:5px;
            width:$w;height:$w;
            line-height:$w;
            color: white;
            background-color: rgba(black, 0.6);
            font-size: $w/2;
            opacity: 0;
            i {
              width:$w;height:$w;
              line-height:$w;
              margin-right: 0;
              transition: opacity ease-out .3s;
            }
          }

          &:hover {
            a.maximize {opacity: 1;}
          }
        }



        img {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top:0;left:0;right:0;bottom:0;
          margin:auto;
        }
      }
    }


    .page-turning {
      position: absolute;
      left:0;right:0;bottom:0;
      height: 20%;
      // background-color: rgba(black, 0.05);

      a {
        display: block;
        height: 50px;
        line-height: 50px;
        // background-color: #6A9BEF;
        background-color: lighten(#3A414A, 20%);
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 0 2rem;
        border-radius: 100px;
        position: absolute;
        &:hover {
          background-color: lighten(#3A414A, 10%);
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.3;
        }

        i {margin-right: 0;}
      }

      a.prev {
        left: 50%;
        margin-left: -170px;
      }
      a.next {
        right: 50%;
        margin-right: -170px;
      }
    }
  }

  .right-part {
    position: absolute;
    top:0;right:0;bottom:0;
    width: $descw;
    padding-top: 5%;
    padding-left: 40px;
    // background-color: rgba(black, 0.05);

    .title {
      margin-bottom: 2rem;
      font-size: 32px;
      margin-left: -1rem;
    }

    @mixin card {
      margin-bottom: 1.0rem;
      margin-left: -30px;
      width:300px;
      height:100px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      background-color: white;
      position: relative;
      display: block;
      color: #333;

      .cover {
        position: absolute;
        top:0;left:0;bottom:0;width:100px;
        background-color: rgba(black, 0.1);
        background-size: cover;

        i {
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          font-size: 40px;
          color: white;
          text-shadow: 0 0 5px rgba(black, 0.5);
        }
      }
      .demo-ct {
        position: absolute;
        top:0;right:0;left:100px;bottom:0;
        padding: 1rem;
        .button {
          margin-top: 0.5rem;
          opacity: 0;
          transition: opacity ease-out .3s;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: lighten(lightblue, 18%);
        .cover i {
          color: #FA7D3C;
          text-shadow: none;
        }
        .demo-ct {
          // background-color: rgba(#FA7D3C, 0.06);
          .button {
            opacity: 1;
          }
        }
      }
    }
    
    .detail {
      .videos {
        .video-card {
          @include card;
        }
      }

      .mobile-card {
        @include card;

        .qrcode {
          position: absolute;
          top:0;left:0;bottom:0;width:100px;
          img {
            width: 100px;
            height: 100px;
            display: block;
          }
        }
      }

      .pc-card {
        @include card;
        height: 40px;
        .demo-ct {
          padding: 0 1rem;
          line-height: 40px;
        }
        .cover {
          background-image: url("http://i.teamkn.com/i/nbe5NtOS.png");
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      .desc {
        color: #5e7582;
        font-size: 16px;
        line-height: 16px * 1.5;
        margin-bottom: 2rem;
        background-color: darken(#FDFDFD, 5%);
        padding: 1rem;
        margin-left: -30px;
        width: 300px;
        position: relative;
        // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        &:before {
          content: "";
          border: solid 10px darken(#FDFDFD, 5%);
          border-left: solid 10px transparent;
          border-bottom: solid 10px transparent;
          position: absolute;
          top:0;left:-20px;
        }

        > ul, > ol {
          &:last-child {
            margin-bottom: 0;
          }
        }

        ul, ol {
          padding-left: 0;
          list-style: none;
          margin-top: 0;
          // &:last-child {
          //   margin-bottom: 0;
          // }
          > li {
            margin-bottom: 1rem;
            position: relative;
            padding-left: 22px;
            &:before {
              // content: "\f105";
              content: "\f054";
              font-family: Icons;
              position: absolute;
              left:0;top:0;
            }
          }
        }

        ol > li {
          &:before {
            // content: "\f105";
            // content: "\f1db";
            content: "\f05d";
            color: #549FD6;
            font-family: Icons;
            position: absolute;
            left:0;top:0;
          }
        }

        li > ul {
          margin-bottom: 1.5rem !important;
        }
      }

      .uis {
        margin-bottom: 2rem;
      }

      .pc-demo {
        margin-bottom: 2rem;
      }

      .mobile-demo {
        margin-bottom: 2rem;
        .tip {
          font-size: 16px;
          margin-bottom: 2rem;
        }
        .qr {
          width: 150px;
          height: 150px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          img {width:100%;height:100%;}
        }
      }
    }
  }


  .bottom {
    padding-top: 2rem;
    display: none;
  }
}

.outline-page.maximize {
  .outline-sidebar {
    margin-left: -$osw;
  }
  .outline-content {
    left: 0;
    right: 0;
    margin: 0 auto;

    .left-part {
      right: 0;
    }
    .right-part {
      display: none;
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}

.video-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.8);

  .video-player {
    width: 853px + 80px;
    height: 480px + 80px;
    background-color: rgba(black, 0.5);
    position: absolute;
    top:0;left:-200px;right:0;bottom:0;
    margin: auto;
    .video-player-inner {
      position: absolute;
      top:40px;left:40px;right:40px;bottom:40px;
    }
    video {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top:0;left:0;right:0;bottom:0;
      margin: auto;
    }
  }

  .video-list {
    height: 480px + 80px;
    width: 200px;
    background-color: rgba(black, 0.5);
    position: absolute;
    top:0;left:0;right:-(853px + 80px)-30px;bottom:0;
    margin: auto;
    .item {
      display: block;
      color: white;
      padding: 1rem;
      border-bottom: solid 1px rgba(white, 0.1);
      &:hover {
        background-color: rgba(white, 0.06);
      }
      &.active {
        border-left: solid 5px #FFD600;
        border-bottom: solid 1px #FFD600;
      }
    }
    .close {
      display: block;
      position: absolute;
      left:0;right:0;bottom:0;
      height: 50px;line-height: 50px;
      border-top: solid 1px rgba(white, 0.1);
      color: white;
      text-align: center;
      font-size: 20px;
      &:hover {
        background-color: rgba(white, 0.06);
      }
    }
  }
}