.react-tags-bar {
  background-color: #f7f7f7;
  border: solid 1px #ececec;
  box-sizing: content-box;
  padding: 5px;
  &:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
  }

  .tag {
    $h: 30px;
    $fz: 16px;

    margin-right: 5px;
    font-size: $fz;
    float: left;
    background-color: #fff;
    color: #444;
    height: $h;
    line-height: $h;
    box-sizing: content-box;
    padding: 0 $fz * 0.9;
    // border: solid 1px #ddd;
    box-shadow: 0 0 2px rgba(black, 0.3);
    border-right: solid 3px #F36501;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #F36501;
      border-radius: 6px 0 0 6px;
      top: ($h - 6px) / 2;
      right: -3px;
    }
  }
}