.chat-box{
  $input_height: 3rem;

  height: 600px;
  // width: 720px;
  position: relative;
  .message-list{
    position: absolute;
    top: 0;
    bottom: $input_height;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 1rem;
    .left-message{
      float: left;
      width: 480px;
      background-color: #ccc;
      margin : 0 0 1rem 0;
      padding: 1rem;
      clear: both;
    }
    .right-message{
      float: right;
      width: 480px;
      background-color: #ccc;
      margin : 0 0 1rem 0;
      padding: 1rem;
      clear: both;
    }
  }
  .text-input{
    font-size: $input_height*0.6 !important;
    input{
      padding: 0;
      padding-left: 0.5rem;
      height: $input_height;
      line-height: $input_height;
    }
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
