.chat-box{
  height: 600px;
  width: 720px;
  position: relative;
  .message-list{
    position: absolute;
    top: 0;
    bottom: 64;
    left: 0;
    right: 0;
    overflow: auto;
    .left-message{
      float: left;
      width: 480px;
      background-color: #ccc;
      margin : 0 0 1rem 0;
      padding: 1rem;
      clear: both;
    }
    .right-message{
      float: right;
      width: 480px;
      background-color: #ccc;
      margin : 0 0 1rem 0;
      padding: 1rem;
      clear: both;
    }
  }
  .text-input{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }   
}