.manager-table{
  padding: 1rem;
  @media only screen and (max-width: 767px){
    padding: 1rem 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
  }

  .ui.header{
    @media only screen and (max-width: 767px){
      margin-left: 1rem !important;
    }
  }

  .ui.table{
    @media only screen and (max-width: 767px){
      border-left: 0;
      border-right: 0;
    }
  }
}
