.radar-graph{
    .webs{ 
        polygon{
        fill: white;
        fill-opacity: 0.5;
        stroke: gray;
        stroke-dasharray: 10 5;
        }

        polygon:nth-child(odd) {
        fill: lightgray;
        }
    }

    .lines {
        line{
        fill: white;
        fill-opacity: 0.5;
        stroke: gray;
        stroke-dasharray: 10 5;
        }
    }

    .areas {
        polygon {
        fill-opacity: 0.5;
        stroke-width: 3;
        }

        circle {
        fill: white;
        stroke-width: 3;
        }
    }


    .texts{
        text {
        text-anchor: middle;
        }
    }
}
