@mixin respond($media) {
  @if $media == mobile {
    @media only screen and (max-width: 767px) { @content }
  }

  @else if $media == tablet {
    @media only screen and (min-width: 768px) and (max-width: 991px) { @content }
  }

  @else if $media == monitor {
    @media only screen and (min-width: 992px) and (max-width: 1199px) { @content }
  }

  @else if $media == large {
    @media only screen and (min-width: 1200px) {@content}
  }
}


.list-sample-page {
  .item {
    border: solid 1px #ececec;
    padding: 1rem;
    margin-bottom: 1rem;

    .ui.button {
      float: right;
    }
  }
}

.csm.sample.page {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.csm-placeholder {
  padding: 1rem;
  border: dashed 1px #ddd;
  color: #999;
  margin-bottom: 1rem;
  // background-color: lighten(#FFFAF3, 0%);
}

.csm-path-nodes-nav {
  .csm-node {
    border:solid 1px rgba(black, 0.05);
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgba(black, 0.04);
    line-height: 20px;

    .text {
      font-weight: bold;
    }
    .from {
      font-weight: bold;
    }
    .target {
    }
  }

  .csm-node.path {
    position: relative;
    padding-left: 3.5rem;
    &.no-paths {
      padding-left: 1rem;
    }

    .toggle {
      position: absolute;
      color: #333;
      background-color: rgba(black, 0.1);
      border-radius: 3px;
      top: 1rem;
      left: 1rem;
      height: 20px;line-height: 20px;
      width: 20px;
      text-align: center;
      i {margin-right: 0;}
    }
  }
}

$header-color: #CA6445;

.csm-reader {
  border: solid 1px #D4D4D5;
  padding: 1rem;
  border-top: 0 none;
  margin-top: -1rem;

  .navbar {
    border-bottom: solid 1px #ececec;
    padding: 1rem 0;
    margin: -1rem 0;
    margin-bottom: 3rem;
    margin-top: 0;

    .bread {
      &:after {
        content: ">";
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
      &:last-child:after {
        display: none;
      }
    }
  }

  .title-content {
    margin-bottom: 3rem;
    position: relative;
    a.add-fav {
      position: absolute !important;
      top:0;right:0;
      width: 122px;
      margin-right: 0;
    }
    .qrcode {
      background-color: white;
      position: absolute;
      top: 34px;
      right: 0;
      border: solid 1px #ececec;
      z-index: 100;
      .desc {
        font-size: 12px;
        text-align: center;
        border-bottom: solid 1px #ececec;
      }
      img {
        width: 120px;
        height: 120px;
      }
      @include respond(mobile) {
        display: none;
      }
    }
    .read-stat {
      color: #999;
      margin-bottom: 1rem;
    }
  }
  .node-title {
    border-bottom: solid 1px #ececec;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  .target-content {
    margin-bottom: 3rem;
    .header {
      font-weight: normal;
      color: $header-color;
    }
  }

  .resource-content {
    margin-bottom: 2rem;

    .inline {
      .md-content {
        // border: solid 1px #ececec;
        padding: 1rem;
        background-color: #FAFAFB;
        border-left: solid 4px rgba(black, 0.1);

        h1, h2, h3, h4, h5, h6 {
          font-weight: normal;
        }
        h1{font-size: 1.5rem;}
        h2{font-size: 1.4rem;}
        h3{font-size: 1.3rem;}
        h4{font-size: 1.2rem;}
        h5{font-size: 1.1rem;}
        h6{font-size: 1rem;}

        li p {
          margin-bottom: 1rem !important;
        }
      }
    }

    .images {
      .imgs {
        overflow: hidden;
        a.img {
          float: left;
          width: 102px;
          height: 102px;
          border: solid 1px #ececec;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .paths-content {
    margin-top: 3rem;

    .path-nodes-content {
      position: relative;
      // background-color: #FAFAFB;
      // border: solid 1px #ececec;
      margin-bottom: 1rem;

      .headicon {
        position: absolute;
        top: 0rem;left: 0rem;
        width: 1.5rem; height: 2.5rem; line-height: 2.5rem;
        text-align: center;
        color: #888;
        border: solid 1px transparent;
      }

      .nodes {
        margin-left: 2rem;
        background-color: #FAFAFB;
        border: solid 1px #ececec;
        border-radius: 3px;
        .path-node {
          line-height: 1.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-bottom: solid 1px #ececec;
          padding-left: 0.5rem;
          display: block;
          position: relative;
          padding-left: 2rem;

          color: #333;
          &:active {
            // color: #4183C4;
          }

          &:last-child {
            border-bottom: 0 none;
          }

          .icon.circle {
            color: #ABE2FB;
            font-size: 11px;
          }

          &:after {
            content: "";
            position: absolute;
            width:10px;
            height:10px;
            border-radius:100px;
            background-color: #ABE2FB;
            top:50%;left:9px;
            margin-top: -5px;
          }
          &:before {
            position: absolute;
            content: "";
            width: 2px;
            top:-1px;bottom:-1px;left:13px;
            background-color: #ABE2FB;
          }
          &:first-child:before {top:50%;}
          &:last-child:before {bottom:50%;}
        }
      }
    }

    .header {
      font-weight: normal;
      color: $header-color;
    }
  }

  .share-bar {
    border-top: solid 1px #ececec;
    padding-top: 1rem;
    overflow: hidden;
    .shares {
      float: right;
    }
    a.s {
      float: left;
      margin-left: 1rem;
      color: #555;
      &:hover {
        color: #333;
      }
    }
  }
}

@import 'images-slide';